
Draxbot/token.txt
Draxbot/bin/Debug/netcoreapp2.0/token.txt
Draxbot/googleAPI.txt
Draxbot/bin/Debug/netcoreapp2.0/googleAPI.txt
.vs/Draxbot_Solution/v15/sqlite3/storage.ide-wal
.vs/Draxbot_Solution/v15/sqlite3/storage.ide
.vs/config/applicationhost.config
.vs/Draxbot_Solution/v15/.suo
.vs/Draxbot_Solution/v15/Server/sqlite3/db.lock
.vs/Draxbot_Solution/v15/Server/sqlite3/storage.ide-shm
.vs/Draxbot_Solution/v15/Server/sqlite3/storage.ide
.vs/Draxbot_Solution/v15/.suo
.vs/Draxbot_Solution/v15/Server/sqlite3/storage.ide-wal
.vs/Draxbot_Solution/v15/sqlite3/db.lock
.vs/Draxbot_Solution/v15/sqlite3/storage.ide
.vs/Draxbot_Solution/v15/sqlite3/storage.ide-shm
*.ide
.vs/Draxbot_Solution/v15/.suo
